@{
    ViewBag.Title = "Lista de Carreras UDB";
}
<img class="img-responsive" src="~/Content/img/Carreras.jpg" alt="" height="150" width="1150" />

<div class="jumbotron">
    <h1>CREE EN TUS SUEÑOS Y HAZLO CON PASIÓN</h1>
    <h2><b>Inscribete y conviértete en un estudiante UDB</b></h2>
    <p class="text-justify">
        La Universidad Don Bosco te ofrece la siguiente gama de carreras y postgrados de modalidad presencial y virtual, el cual se adapta
        a tus expectivas y busca que crezcas en tu vida profesional, laboral, personal y humanamente con nuestra filosofia salesiana.
    </p>
    <h2><b>Que esperas únete a la Universidad Don Bosco</b></h2>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="list-group-item active">
            <h4>Ingenierias</h4><span class="badge">7</span>
            <p>Si lo que buscas es estudiar con una perspectiva de innovación y creactividad, este es tu sección.</p>
        </a>
        <br />
        <div class="col-md-3">
            <img src="~/Content/img/Ingenieria1.jpg" alt="" height="150" width="250" />
            <h3><b>Ingenieria Mecánica</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>45 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Durante su formación, logrará competencias en: Diseño y rediseño mecánico, gestión de mantenimiento, construcción, instalación, operación de sistemas industriales, con énfasis en la creación y transferencia de tecnología, sin descuidar los aspectos ambientales.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/Ingenieria2.jpg" alt="" height="150" width="250" />
            <h3><b>Ingenieria Industrial</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>44 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Formar Ingenieros/as Industriales altamente calificados, capaces de sintetizar y aplicar principios científicos para diseñar, mejorar, simular, instalar, administrar y optimizar sistemas integrados de personas, materiales, máquinas y capital.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/Ingenieria3.jpg" alt="" height="150" width="250" />
            <h3><b>Ingenieria Biomédica</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>42 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>El/la Ingeniero/a toma importancia mediante la perspectiva de un sistema integral de salud caracterizado por su calidad, donde a través de sus intervenciones en la tecnología y sistemas médicos influye directamente en los procesos de atención de salud.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/Ingenieria4.jpg" alt="" height="150" width="250" />
            <h3><b>Ingenieria Eléctrica</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>45 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Aportar a la sociedad salvadoreña y la región un ente activo, con formación especializada en Ingeniería Eléctrica, con características de impulsor del desarrollo socio-económico, con formación en ciencia, técnica y humanismo; a través de una formación especializada.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/Ingenieria5.jpg" alt="" height="150" width="250" />
            <h3><b>Ingenieria en Ciencias de la Computación</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>44 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>El/la Ingeniero/a de la Computación estará cualificado para desempeñarse en situaciones complejas en tres ámbitos de actuación: el desarrollo de software, la generación de Tenologías de Información y la gestión de redes y comunicación de datos.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/Ingenieria6.jpg" alt="" height="150" width="250" />
            <h3><b>Ingenieria Mecatrónica</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>43 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Formar ingenieros en Mecatrónica con aptitudes suficientes para desenvolverse con un alto grado de eficiencia en los ámbitos de acción tecnológicos y administrativos con los que su carrera los relacione.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/Ingenieria7.jpg" alt="" height="150" width="250" />
            <h3><b>Ingenieria Aeronáutica</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>48 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Ofrecer a la región profesionales especializados, proporcionando una fuerte formación en las áreas de navegación aérea; legislación aeronáutica; mantenimiento de aeronaves; operación de flotas de aeronaves; planeación del transporte; operación y administración..</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="list-group-item active">
            <h4>Licenciaturas</h4><span class="badge">6</span>
            <p>Si lo que buscas es desarrollarte y especializarte en carreras que lleven tu talento a otro nivel estudia lo siguiente:</p>
        </a>
        <br />
        <div class="col-md-4">
            <img src="~/Content/img/Licenciarura1.jpg" alt="" height="180" width="340" />
            <h3><b>Licenciatura en Ciencias de la Comunicación</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>43 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Formar profesionales que manejen con efectividad y eficacia los distintos recursos tecnológicos que utilice, esto para que produzcan mensajes éticos que no atenten contra la dignidad del ser humano, no inciten a la destrucción del medio ambiente y todos los recursos naturales.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/Licenciarura2.jpg" alt="" height="180" width="340" />
            <h3><b>Licenciatura en Diseño Gráfico</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>42 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Formar profesionales capaces de desarrollar proyectos globales de diseño integrando que den solución a problemas de comunicación Multimedia. Potenciar el descubrimiento y desarrollo de la creatividad como campo multidisciplinario del talento.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/Licenciatura3.jpg" alt="" height="180" width="340" />
            <h3><b>Licenciatura en Mercadotecnia</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>47 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Formar profesionales capaces de generar valor para las empresas y los consumidores, a través de la generación de condiciones que propician el intercambio de bienes y servicios con carácter sustentable.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <p>...</p>
        <div class="col-md-4">
            <img src="~/Content/img/Licenciatura4.jpg" alt="" height="180" width="340" />
            <h3><b>Licenciatura en Ortesis y Protesis</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>39 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Capaces de aplicar conocimientos adquiridos en el entrenamiento clínico, que le permitan realizar evaluaciones físicas a los usuarios e interpretar las diferentes prescripciones médicas.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/Licenciatura5.jpg" alt="" height="180" width="340" />
            <h3><b>Licenciatura en Contaduría Pública</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>49 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Formar profesionales capaces de satisfacer necesidades en el medio empresarial con visión ética, legal y empresarial que satisfaga a los usuarios de la información tantos internos como externos.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/Licenciatura6.jpg" alt="" height="180" width="340" />
            <h3><b>Licenciatura en Administración de Empresas</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>5 años (10 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>47 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Formar profesionales con visión estratégica y liderazgo capaces de manejar las herramientas administrativas, que permitan alcanzar un óptimo aprovechamiento de los recursos en beneficio de las empresas y de los diferentes sectores de la sociedad, tanto del ámbito nacional como internacional.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="list-group-item active">
            <h4>Técnicos</h4><span class="badge">3</span>
            <p>Estudia en uno de nuestros técnicos, con la ventaja que tendrás un titulo competitivo para el mercado laboral, con una duración de 2 años para que lo culmines.</p>
        </a>
        <br />
        <div class="col-md-4">
            <img src="~/Content/img/Tecnico1.jpg" alt="" height="180" width="340" />
            <h3><b>Técnico en Multimedia</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>2 años (4 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>20 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Formar profesionales que manejen con efectividad y eficacia los distintos recursos tecnológicos que se le presentan, esto para que produzcan mensajes éticos que no atenten contra la dignidad del ser humano, no inciten a la destrucción del medio ambiente y todos los recursos naturales.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/Tecnico2.jpg" alt="" height="180" width="340" />
            <h3><b>Técnico en Control de Calidad</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>2 años (4 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>20 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Este Plan de Estudio tiene como propósito reflexionar sobre su desempeño profesional en el campo de la calidad con el fin de implementar buenas prácticas. Actuar en coherencia con el pensamiento social cristiano, con la ética en su profesión y con los principios de la dignidad de la persona humana que promueve la formación salesiana.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/Tecnico3.jpg" alt="" height="180" width="340" />
            <h3><b>Técnico en Desarrollo de Aplicaciones Móviles</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>2 años (4 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>21 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Formar estudiantes con un sentido humanista, responsable, crítico, creativo e innovador, capaces de tomar decisiones que generen valor a la industria y el país, a través de la aplicación de conocimientos científicos-técnicos para planear, organizar, diseñar y desarrollar.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="list-group-item active">
            <h4>Profesorados</h4><span class="badge">2</span>
            <p>Quieres expandir tus conocimientos y aprender de especializaciones que te brindarán un plus en tu formación profesional y laboral, entonces estudia lo siguiente:</p>
        </a>
        <br />
        <div class="col-md-6">
            <img src="~/Content/img/Profesorado1.jpg" alt="" height="270" width="550" />
            <h3><b>Profesorados en Teología Pastoral</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>3 años (6 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>21 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Formar profesionales con competencia teológica y pedagógica quie contribuyan eficazmente en la formación de los niños, jóvenes y adultos para la construcción de una sociedad más justa, pacífica y democrática.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/img/Profesorado2.jpg" alt="" height="270" width="550" />
            <h3><b>Profesorados en Educación Básica para Primero y Segundo Ciclos</b></h3>
            <h5>Duración de la carrera:</h5>
            <h5><b>3 años (6 ciclos)</b></h5>
            <h5>Número de asignaturas:</h5>
            <h5><b>29 materias</b></h5>
            <h5>Objetivo de la carrera:</h5>
            <h5><b>Garantizar una formación docente inicial integral, a través del desarrollo equilibrado de los campos de formación pedagógica y académica específica y de la práctica profesional docente, con los aportes de los diferentes campos del conocimiento.</b></h5>
            <p><a class="btn btn-primary" href="#">Más información &raquo;</a></p>
        </div>
    </div>
</div>