@{
    ViewBag.Title = "Contactenos";
}
<img class="img-responsive" src="~/Content/img/FondoContactanos.jpg" alt="" height="150" width="1150" />

<div class="jumbotron">
    <h1>¿QUIERES SABER MÁS DE LA UDB?</h1>
    <h2><b>Utiliza nuestros medios de contacto para poder comunicarnos contigo</b></h2>
    <p class="text-justify">
        Nuestra prioridad es conocer lo que piensas, sientes y quieras saber; por lo que habilitamos nuestras plataformas
        para que puedas comunicarnos con nosotros y poder darte el servicio de calidad que tu te mereces.
    </p>
</div>

<h1>NUESTRA UBICACIÓN</h1>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15504.168151844513!2d-89.153702!3d13.7159038!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5cdd8c78e802b84e!2sUDB!5e0!3m2!1ses-419!2ssv!4v1633186334422!5m2!1ses-419!2ssv" width="650" height="430" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-md-5">
            <div class="jumbotron">
                <h4>DIRECCIÓN UDB Y PLATAFORMAS</h4>
                <address>
                    <b>Universidad Don Bosco Campus Soyapango</b><br />
                    Calle a Plan del Pino Km 1 1/2. Ciudadela Don Bosco, Soyapango, El Salvador, Centroamérica. Código Postal 1874<br />
                    <abbr title="Phone"><b>Teléfono:</b></abbr>
                    (+503) 2251-8241
                </address>
                <h5><b>Nuestras plataformas estudiantiles son:</b></h5>
                <p><a class="btn btn-primary" href="https://www.udbvirtual.edu.sv/auladigital/login/index.php">Aula Digital UDB &raquo;</a></p>
                <p><a class="btn btn-primary" href="https://admacad.udb.edu.sv/portalweb/">Portarl UDB &raquo;</a></p>
                <p><a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=sv.edu.udb.estudiantes&hl=es">Aplicación Móvil UDB &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<h1>NUESTRAS REDES SOCIALES</h1>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="~/Content/img/Icono1.jpg" alt="" height="125" width="125" />
            <a class="btn btn-primary text-center" href="https://www.facebook.com/UDBelsalvador">Conocenos &raquo;</a>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="~/Content/img/Icono2.jpg" alt="" height="125" width="125" />
            <a class="btn btn-primary text-center" href="https://twitter.com/UDBelsalvador">Descubre &raquo;</a>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="~/Content/img/Icono3.png" alt="" height="125" width="125" />
            <a class="btn btn-primary text-center" href="https://www.instagram.com/UDBelsalvador/">Observa &raquo;</a>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="~/Content/img/Icono4.png" alt="" height="125" width="125" />
            <a class="btn btn-primary text-center" href="https://www.youtube.com/channel/UCEHCTHygY_WJElUa4K-8R3Q">Averigua &raquo;</a>
        </div>
    </div>
</div>
<h1>BRINDANOS TU OPINIÓN</h1>

<div class="jumbotron">
    <div class="container">
        <form class="row col-lg-12">
            <div class="col-md-6">
                <label for="inputConsulta" class="form-horizontal">Realizar el siguiente tipo de consulta:</label>
                <select id="inputState" class="form-horizontal form-control-static">
                    <option selected>Selecciona la opción que deseas</option>
                    <option>Felicitaciones</option>
                    <option>Quejas</option>
                    <option>Consulta de inscripción</option>
                    <option>Más información acerca de una carrera</option>
                    <option>Consulta de nuestros programas</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputConsulta" class="form-horizontal">Seleccionar la carrera o estudio que deseas:</label>
                <select id="inputState" class="form-horizontal form-control-static">
                    <option selected>Carreras, Tecnicos y Profesorados</option>
                    <option>Ingenieria Industrial</option>
                    <option>Ingenieria Mécanica</option>
                    <option>Licenciatura en Contaduria Pública</option>
                    <option>Licenciatura en Idiomas</option>
                    <option>Técnico en Multimedia</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputName20" class="form-horizontal">Nombre Completo</label>
                <input type="email" class="form-control" id="inputName20" placeholder="Ejemplo: Margarita Cruz">
            </div>
            <br />
            <div class="col-md-6">
                <label for="inputCel8" class="form-horizontal">Número Telefonico</label>
                <input type="email" class="form-control" id="inputCel8" placeholder="Ejemplo: 2210-0505">
            </div>
            <br />
            <div class="col-md-6">
                <label for="inputEmail4" class="form-horizontal">Correo electrónico</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Ejemplo: example@gmail.com">
            </div>
            <br />
            <div class="col-md-6">
                <label for="inputAddress" class="form-horizontal">Dirección</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Avenida, Calle, # Casa, Colonia.">
            </div>
            <br />
            <div class="col-md-6">
                <label for="inputConsulta" class="form-horizontal">Disponibilidad para poder ser contactado:</label>
                <select id="inputState" class="form-horizontal form-control-static">
                    <option selected>Horario de su preferencia</option>
                    <option>De 7:00 am a 10:00 am</option>
                    <option>De 10:01 am a 2:00 pm</option>
                    <option>De 2:01 pm a 6:00 pm</option>
                    <option>De 6:01 pm a 10:00 pm</option>
                </select>
                <br />
            </div>
                <div class="col-md-6">
                    <label for="inputComment" class="form-horizontal">Comentarios Adicionales</label>
                    <br>
                    <textarea name="comentarios" rows="3" cols="50" placeholder=" Escribe aquí tus comentarios"></textarea>
                </div>
        </form>
        <div class="col-12">
            <button href="#" class="btn btn-primary">Enviar Formulario</button>
        </div>
    </div>
</div>