@{
    ViewBag.Title = "Universidad Don Bosco 2021";
}

<img class="img-responsive" src="~/Content/img/FondoPP.png" alt="" height="150" width="1150" />
<div class="jumbotron">
    <h1>UNIVERSIDAD DON BOSCO</h1>
    <p class="lead" style="text-align:justify">La Universidad Don Bosco es una institución apolítica, de inspiración cristiana, sin fines de lucro, creada con carácter permanente y perteneciente a la Institución Salesiana, por fundación y carisma. Fundada en 1984 es continuadora del esfuerzo iniciado por Don Bosco y se orienta hacia la centralidad de la persona y la educación integral de los jóvenes.</p>
    <p class="lead" style="text-align:justify">Es una entidad sólida enfocada en la educación superior con estilo salesiano a través de iniciativas institucionales significativas, tales como: un Modelo Educativo, la planificación estratégica y táctica de mediano plazo, y a la vez, la construcción de una institucionalidad e integridad cada vez más orientada a mejorar continuamente.</p>
    <p class="lead" style="text-align:justify">La UDB le apuesta continuamente a la excelencia académica y la responsabilidad social en su contexto geográfico e histórico; con una apuesta sólida por la innovación que le ha permitido adentrarse progresivamente en la internacionalización y dar su aporte a la sociedad del conocimiento.</p>
</div>
<div class="row">
    <div class="col-md-8">
        <iframe class="table-responsive" width="750" height="350" src="https://www.youtube.com/embed/YmSd2IYnzg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h2><b>Noticias Populares UDB</b></h2>
        <p><a target="blank" href="http://www.udb.edu.sv/udb/noticia/xxxxxxxxx" class="glyphicon-search"> UDB creará el primer LEED en Centroámerica</a></p>
        <p><a target="blank" href="http://www.udb.edu.sv/udb/noticia/udb_creara_centro_de_orientacion_de_carrera_con_apoyo_de_usaid" class="glyphicon-search"> UDB creará el Centro de Desarrollo de Carrera con apoyo de USAID</a></p>
        <p><a target="blank" href="http://www.udb.edu.sv/udb/noticia/udb_contara_con_un_observatorio_micro_macro_para_la_observacion_y_formacion_cientifica" class="glyphicon-search"> UDB contará con un Observatorio Micro - Macro para la observación y formación cientifica</a></p>
        <p><a target="blank" href="http://www.udb.edu.sv/udb/noticia/udb_gradua_a_primeros_ingenieros_en_aeronautica_del_pais" class="glyphicon-search"> UDB gradúa a primeros ingenieros en Aeronáutica de El Salvador</a></p>
        <p><a target="blank" href="http://www.udb.edu.sv/udb/noticia/science-girl-camp-udb-obtiene-primer-lugar-como-buena-practica-2021-de-la-red-telescopi" class="glyphicon-search"> Science Girl Camp UDB obtiene primer lugar como buena práctica 2021 de la red Telescopi</a></p>
        <p><a target="blank" href="http://www.udb.edu.sv/udb/noticia/la-universidad-don-bosco-y-b100-arquitectos-lanza-programa-formativo--mujeres-a-la-obra-" class="glyphicon-search"> La Universidad Don Bosco y 8100 Arquitectos lanzan programa formativo "MujerES a la obra"</a></p>
    </div>
</div>
<div class="jumbotron">
    <h1>PUBLICACIONES RELEVANTES</h1>
    <div class="row">
        <div class="col-md-3">
            <img src="~/Content/img/NT1.jpg" alt="" height="250" width="250" />
            <h2><b>Haz tu parte y vacunate</b></h2>
            <p>
                Como instituciòn superior, motivamos a nuestros estudiantes
                a luchar contra la Pandemia del COVID-19, por medio de tu
                vacunación, el cual reserva tu cita y luchemos juntos.
            </p>
            <p><a class="btn btn-primary" href="https://www.vacunacioncovid19.gob.sv/">Haz tu cita &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/NT2.jpg" alt="" height="250" width="250" />
            <h3><b>Escuela de Biomédica UDB participa en actividad bajo la metodología aprendizaje Colaborativo Internacional en Línea</b></h3>
            <p>La actividad se realizó en conjunto con la Universidad Católica del Maule de Chile</p>
            <p><a class="btn btn-primary" href="http://www.udb.edu.sv/udb/noticia/escuela-de-biomedica-udb-participa-en-actividad-bajo-la-metodologia-aprendizaje-colaborativo-internacional-en-linea">Leer más &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/NT3.jpg" alt="" height="250" width="250" />
            <h3><b>UDB entre las primeras posiciones del IX Desafio Iberoamericano en Simulacìón de Negocios</b></h3>
            <p>Alumnos UDB compitieron en reto iberoamericano quedado en 4º posición.</p>
            <p><a class="btn btn-primary" href="http://www.udb.edu.sv/udb/noticia/udb-entre-las-primeras-posiciones-del-ix-desafio-iberoamericano-en-simulacion-de-negocios">Leer más &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/NT4.jpg" alt="" height="250" width="250" />
            <h3><b>Una perspectiva de cambio para el rol docente, desde los hábitos de consumo electrónico de los jóvenes universitarios</b></h3>
            <p>Como catedráticos es nuestro deber y compromiso asumir un nuevo rol dentro del aula.</p>
            <p><a class="btn btn-primary" href="http://www.udb.edu.sv/udb/noticia/una-perspectiva-de-cambio-para-el-rol-docente--desde-los-habitos-de-consumo-electronico-de-los-jovenes-universitarios">Learn more &raquo;</a></p>
        </div>
    </div>
    </div>
